
<h2>Reviews & Comments:</h2>

{% for quote in quotes %}
    <blockquote class="px-5 md:px-5 lg:px-10 xl:px-20 py-5 mb-5 bg-gray-300 border-t-8 border-pink-400 text-xl shadow-lg">
        <em>"{{ quote.quote }}"</em><br/><small><strong>{{ quote.author }}</strong> ({{ quote.magazine }})</small>
    </blockquote>
{% endfor %}

<p>More reviews can be found <a href="/press">here</a></p>

