
{#- Mobile meny: icons #}
{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
<ul class="flex px-8 justify-between list-none container mx-auto md:hidden">
{%- for entry in collections.all | eleventyNavigation %}
    <li class="{% if entry.url == page.url %}nav-item-active{% endif %} pt-3 pb-3">
        <a
        class="text-white no-underline border-b-2 border-white hover:border-gray-800 pb-1"
        href="{{ entry.url | url }}"
        title="{{ entry.title }}"
        >
        {% if entry.icon %}
            {% include 'components/icons.njk' %}
        {% endif %}
        </a>
    </li>
{%- endfor %}
</ul>

{#- Desktop meny: text #}
<ul class="hidden md:flex px-6 lg:px-40 xl:px-80 justify-between list-none container mx-auto">
{%- for entry in collections.all | eleventyNavigation %}
    <li class="{% if entry.url == page.url %}nav-item-active{% endif %} pt-3 pb-5">
        <a
        class="text-white no-underline border-b-2 border-white hover:border-gray-800 pb-1"
        href="{{ entry.url | url }}"
        title="{{ entry.title }}"
        >
        {{ entry.title }}
        </a>
    </li>
{%- endfor %}
</ul>
