<div class="relative mb-10" style="padding-top: 56.25%">
    <iframe
        class="absolute inset-0 w-full h-full"
        src="https://www.youtube-nocookie.com/embed/{{ youtube }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>