---
layout: layouts/base.njk
templateClass: page
---
<main class="pt-3 pb-5 px-3 md:px-10 lg:px-20 xl:px-40 shadow-2xl">
  <div class="shadow-sm px-2">

    <header>
      <h1>{{ title }}</h1>
    </header>

    {% if youtube %}
      {% include "components/youtube.njk" %}
    {% endif %}

    {{ content | safe }}

  </div>
</main>