---
layout: layouts/one-col.njk
templateClass: photo
blocks:
  left:
    - blocks/photosList.njk
---

{{ content | safe }}

<div class="mb-10">
  Copyright/Photo: {{ copyright }}
  {% if false %}
    <p><a href="{{ tif | url }}">Download TIF (high res)</a></p>
  {% endif%}

</div>