---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="pt-3 pb-5 px-3 md:px-10 lg:px-20 xl:px-40 shadow-2xl">
  <div class="shadow-sm px-2">
    <h1>{{ title }}</h1>
    {% if youtube %}
      <div class="relative mb-10" style="padding-top: 56.25%">
        <iframe
          class="absolute inset-0 w-full h-full"
          src="https://www.youtube-nocookie.com/embed/{{ youtube }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    {% endif %}

    {{ content | safe }}

  </div>
</article>

<hr>

<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
