---
layout: layouts/base.njk
templateClass: tmpl-review
---
<article class="pb-5 px-3 md:px-10 lg:px-20 xl:px-40 shadow-2xl">
  <div class="shadow-sm px-2">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>

<hr>

<ul>
  {%- set nextReview = collections.reviews | getNextCollectionItem(page) %}
  {%- if nextReview %}<li>Next: <a href="{{ nextReview.url | url }}">{{ nextReview.data.title }}</a></li>{% endif %}
  {%- set previousReview = collections.reviews | getPreviousCollectionItem(page) %}
  {%- if previousReview %}<li>Previous: <a href="{{ previousReview.url | url }}">{{ previousReview.data.title }}</a></li>{% endif %}
</ul>
