---
layout: layouts/base.njk
templateClass: two-col
---
<section class="p-5 md:px-10 lg:px-20 xl:px-40">
    <div class="lg:grid lg:grid-cols-3 lg:gap-4">
        <div class="col-left md:p-5 md:shadow-2xl mb-10 {{ 'lg:col-span-2' if blocks.right else 'lg:col-span-3' }}">
            <article class="shadow-sm">
                {% if title %}
                    <h1>{{ title }}</h1>
                {% endif %}

                {% if youtube %}
                    {% include "components/youtube.njk" %}
                {% endif %}

                {{ content | safe }}
            </article>

            {% if blocks.left %}
                {% for block in blocks.left %}
                    <div class="bg-gray-100 p-5 mb-10 shadow-2xl">
                        {% include block %}
                    </div>
                {% endfor%}
            {% endif %}
        </div>


        {% if blocks.right %}
        <aside class="col-right lg:col-span-1">
            {% for block in blocks.right %}
                <div class="bg-gray-100 p-5 mb-10 shadow-2xl">
                    {% include block %}
                </div>
            {% endfor%}
        </aside>
        {% endif %}


    </div>
</section>
