@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Fjalla One';
  src: local('Fjalla One'), url(../fonts/Fjalla_One/FjallaOne-Regular.ttf) format('ttf');
}

@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl mt-3 mb-5 font-sans;
  }
  h2 {
    @apply text-xl mt-3 mb-5 font-sans;
  }
  h3 {
    @apply text-lg mt-3 mb-5 font-sans;
  }
  a {
    @apply text-gray-800 underline;
  }
  hr {
    @apply my-5;
  }
  p {
    @apply mb-5 font-sans;
  }
  ul {
    @apply list-disc list-inside;
  }

  main article p img {
    @apply w-full;
  }

}

