<section>
  <h2 class="uppercase">Reviews & Comments:</h2>
  {% set reviews = collections.reviews | head(-5) %}

  {% for review in reviews %}
    <blockquote class="px-5 md:px-5 lg:px-10 xl:px-20 py-5 mb-5 bg-gray-300 border-t-8 border-pink-400 text-xl shadow-lg">
          <em>"{{ review.data.excerpt }}"</em><br/><small><strong>{{ review.data.author }}</strong> ({{ review.data.magazine }})</small>
      </blockquote>
  {% endfor %}

  <p>More reviews can be found <a href="/press">here</a></p>
</section>